@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$font-family: "JetBrains Mono", monospace;

$colour_light: #F6EBFF;
$colour_dark: #2C2C39;
$colour_med: #35334E;
$colour_purple_med: #4A42BD;
$colour_purple_bright: #383299;